@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  display: none;
}

.list {
  list-style-type: none;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.body-box {
  background-color: #ffffff;
  margin: auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 #00000033;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  z-index: 1;
}

.navigation {
  width: 1060px;
  display: flex;
  margin: auto;
  align-items: center;
}

.logo {
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 400px;
  list-style: none;
  margin-right: auto;
  flex-wrap: wrap;
  flex-grow: 1;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
}

.active {
  text-decoration: underline solid #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 24px;
}


.navigation-user-link {
  display: block;
  width: 44px;
  height: 64px;
  text-decoration: none;
  box-sizing: border-box;
}

.search-logo {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorites-logo {
  background-image: url("../images/favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 11px 4px 33px 20px;
}


.amount {
  display: block;
  width: 10px;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  border-radius: 50%;
  padding: 5px;
  color: #ffffff;

}

/* кнопки */
.small {
  font-family: "PT Sans", sans-serif;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
}

.medium {
  font-family: "PT Sans", sans-serif;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: 0;
}

.navigation-button,
.search-button,
.button-detail {
  background-color: #756157;
  text-decoration: none;
}

.button-detail {
  width: 88px;
  height: 20px;
  padding: 8px 26px 8px 26px;
}

.subscribe-button,
.apply,
.button-result {
  background-color: #82b3d3;
}



.navigation-button {
  width: 160px;
  height: 36px;
  margin-left: 20px;
}

.search-button {
  display: block;
  text-align: center;
  width: 376px;
  height: 36px;
  padding: 8px 0;


}

.subscribe-button {
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
  padding: 0;
}

.apply,
.reset {
  width: 191px;
  height: 36px;
  padding-top: 0;
  padding-bottom: 0;
}

.reset {
  background-color: transparent;
}

.button-result {
  width: 140px;
  height: 36px;
}

.result-active {
  background-color: #7db54f;
}

/* кнопки */

.main-container {
  flex-grow: 1;
}


.hero {
  background-color: #040056;
  background-image:
    url("../images/index/vector-hero.svg"),
    url("../images/index/hero.jpg");
  background-size: 100% auto;
  background-repeat:
    no-repeat,
    no-repeat;
  background-position: bottom;
  width: 1200px;
  min-height: 485px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.welcome-box {
  width: 458px;
  min-height: 352px;
  margin-top: 51px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.advantage-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 261px;
  text-align: center;
  margin-bottom: 21px;
}

.advantage-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 246px;
  padding-left: 348px;
  padding-right: 348px;
  box-sizing: border-box;
}

.advantage-desc .title {
  margin: 0 0 20px 0;
  text-align: center;
}

.title {
  margin: 0 0 25px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.title-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantage-text {
  margin: 0;
}

.advantage-text:not(.city p, .bridge p) {
  color: #333333;
}

.advantage-item {
  display: flex;
  background-color: #83b3d31f;
  width: 400px;
  height: 385px;
  text-align: center;
}

.box {
  background-color: #83b3d333;
}

.eat {
  background-color: #ffffff;
}

.advantage-image {
  background-color: #82b3d3;
  width: 1200px;
  min-height: 385px;
}

.advantage-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 230px;
  min-height: 160px;
}

.advantage-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 230px;
  min-height: 181px;
}

.advantage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 385px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box;
}

.advantage-image-city {
  display: flex;
  text-align: center;
}

.advantage-image-bridge {
  display: flex;
  text-align: center;
}

.city,
.bridge {
  color: #ffffff;
}

.line,
.first-line,
.last-line {
  margin: 0;
}

.advantage-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.first-line::after,
.last-line::after {
  content: "";
  border: 2px solid #FFFFFF4D;
  bottom: -30px;
  width: 60px;
  margin: auto;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.line::after {
  content: "";
  border: 2px solid #0000004D;
  bottom: -30px;
  width: 60px;
  margin: auto;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}



.holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;

}

.souvenirs {
  margin: auto;
  width: 230px;
  height: 223px;
  background-image: url("../images/index/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.food {
  margin: auto;
  width: 230px;
  height: 223px;
  background-image: url("../images/index/food.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;

}

.housing {
  margin: auto;
  width: 230px;
  height: 223px;
  background-image: url("../images/index/housing.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  max-width: 100%;
  min-height: 306px;
  padding: 50px 304px;
}

.search-title,
.subscribe-title {
  margin-top: 46px;
  margin-bottom: 20px;
}

.search-text,
.subscribe-text {
  margin-bottom: 54px;
}

.subscribe {
  text-align: center;
  padding: 50px;
  max-width: 100%;
  min-height: 315px;
  background-image: url("../images/index/subscribe.jpg");
  background-repeat: no-repeat;
  background-color: #040056;
}

.subscribe,
.subscribe p {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  height: 52px;
  justify-content: center;

}

.subscribe-catalog {
  background-image: none;
  background-color: inherit;
}

.subscribe-catalog .subscribe-title {
  color: #000000;
}

.subscribe-catalog .subscribe-text {
  color: #333333;
}

.form-mail {
  border: 0;
  border-radius: 4px 0 0 4px;
  width: 432px;
  height: 52px;
  padding: 0;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.catalog-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.catalog-filter {
  background-image: url("../images/catalog/filter.jpg");
  background-color: #7f0505;
  background-repeat: no-repeat;
  color: #ffffff;
  max-width: 100%;
  min-height: 307px;
  padding: 70px;
  padding-top: 35px;

}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  width: 114px;
  min-height: 21px;
  margin: 0;
  margin-bottom: 40px;

}

.index {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../images/catalog/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3px;
  margin-bottom: 3px;

}

.catalog-filter-form {
  display: flex;
  min-height: 157px;
}

.catalog-filter-group {
  width: 150px;
  min-height: 157px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-bottom: 31px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin: 0;
  gap: 16px;
}

.comfort,
.houseroom,
.value {
  border: none;
  padding: 0;
  margin: 0;
}

.comfort {
  margin-right: 70px;

}

.houseroom {
  margin-right: 140px;
}


.value {
  width: 288px;
  min-height: 160px;
  padding: 0;
  margin-right: 70px;
}

.range {
  display: flex;
  margin-bottom: 36px;
}

.control {
  display: flex;
  align-items: center;
}

.control span{
  margin-left: 16px;
}

.control-input {
  width: 20px;
  height: 20px;
  margin: 0;

}

.value-min {
  width: 143px;
  height: 48px;
  border-radius: 4px 0 0 4px;
  border: 0;
  padding: 0;
  margin-right: 2px;
}

.value-max {
  width: 143px;
  height: 48px;
  border-radius: 0 4px 4px 0;
  border: 0;
  padding: 0;
}

.slider {

  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  gap: 32px;
  height: 104px;
}

.catalog-products {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
}

.effect-box {
  display: flex;
  align-items: center;
  width: 1060px;
  height: 49px;
}

.effect {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.select-control {
  padding: 0 20px;
  width: 292px;
  height: 49px;
  margin-right: 70px;
  border: 2px solid #e5e5e5;
  font-size: 18px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-item {
  margin-right: 8px;
  width: 48px;
  height: 48px;
}

.form-item:last-child {
  margin: 0;
}

.option {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border-width: 2px;
  border-color: #e5e5e5;
  border-style: solid;
  background-color: #ffffff;
}

.option-active {
  border-color: #000000;
}

.tile {
  background-image: url("../images/catalog/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.big-list {
  background-image: url("../images/catalog/big_list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.small-list {
  background-image: url("../images/catalog/small_list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.result {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.result-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.result-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px min-content 21px 36px 37px;
  grid-auto-flow: row;
  width: 340px;
  min-height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  row-gap: 16px;
  column-gap: 20px;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.result-image {
  grid-column: span 2;
}

.result-item h3 {
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  width: 248px;
  min-height: 28px;
  grid-column: span 2;
  margin: 0;
}

.result-type,
.price {
  margin: 0;
}

.price {
  text-align: end;
}

.stars {
  width: 140px;
  height: 37px;
  background-repeat: no-repeat;
  background-position: center;
}

.stars-4 {
  background-image:
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg");
  background-position:
    left,
    24px,
    48px,
    72px;
}

.stars-3 {
  background-image:
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg");
  background-position:
    left,
    24px,
    48px;
}

.stars-2 {
  background-image:
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg");
  background-position:
    left,
    24px;
}

.rating {
  width: 140px;
  height: 28px;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-align: center;
  padding-top: 9px;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.pagination {
  display: flex;
  margin: 0;
}

.pagination-item {
  display: block;
  min-width: 60px;
  margin-right: 8px;
}

.pagination-link,
.pagination-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  background-color: #82b3d3;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  border: 5px;
}

.pagination-item:last-child {
  margin: 0;
}

.pagination-active {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-box {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: inherit;
}


.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
}

.social {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 142px;
  height: 40px;

}

.tel {
  display: flex;
  font-size: 40px;
  text-decoration: none;
  color: #000000;
  width: 720px;
  height: 50px;
  align-items: center;
  justify-content: center;


}

.logo-htmlacademy {
  display: flex;
  height: 33px;
  align-items: center;
  justify-content: center;
}

.vk {
  display: block;
  width: 47px;
  height: 40px;
  background-image: url("../images/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.telegram {
  display: block;
  width: 47px;
  height: 40px;
  background-image: url("../images/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  display: block;
  width: 47px;
  height: 40px;
  background-image: url("../images/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}
