@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.body-box {
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  z-index: 1;
}

.navigation {
  width: 1060px;
  display: flex;
  margin: auto;
  align-items: center;
}

.logo {
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
  margin-right: 29px;
  align-self: start;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 400px;
  list-style: none;
  margin-right: auto;
  flex-wrap: wrap;
  flex-grow: 1;
}

.navigation-item {
  padding: 20px 0;
  box-sizing: border-box;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 180px;
  flex-wrap: wrap;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: rgba(117, 97, 87, 1);
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.active {
  text-decoration: underline solid #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 24px;
}


.navigation-user-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  min-height: 64px;
  text-decoration: none;
  box-sizing: border-box;
}

.search-logo {
  padding: 22px 12px;
  color: rgb(0, 0, 0);
  background-position: center center;
}

.search-logo:hover,
.search-logo:focus {
  color: rgba(117, 97, 87, 1);
}

.search-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

.favorites-logo {
  padding: 22px 12px;
  position: relative;
  color: rgb(0, 0, 0);
  background-position: center center;
}

.favorites-logo:hover,
.favorites-logo:focus {
  color: rgba(117, 97, 87, 1);
}

.favorites-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

.amount {
  display: block;
  position: absolute;
  font-family: "PT Sans", sans-serif;
  min-width: 10px;
  min-height: 10px;
  font-size: 10px;
  line-height: 10px;
  background-color: rgb(125, 181, 79);
  border-radius: 50%;
  padding: 5px;
  color: rgb(255, 255, 255);
  top: 11px;
  right: 4px;
}

/* кнопки */
.small {
  font-family: "PT Sans", sans-serif;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  box-sizing: border-box;
  padding: 3px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.medium {
  font-family: "PT Sans", sans-serif;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: 0;
  box-sizing: border-box;
  padding: 3px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-button,
.search-button,
.button-detail {
  background-color: rgb(117, 97, 87);
  text-decoration: none;
}

.navigation-button:not(:disabled):hover,
.navigation-button:not(:disabled):focus,
.search-button:not(:disabled):hover,
.search-button:not(:disabled):focus,
.button-detail:not(:disabled):hover,
.button-detail:not(:disabled):focus {
  background-color: rgba(97, 80, 72, 1);
}

.navigation-button:not(:disabled):active,
.search-button:not(:disabled):active,
.button-detail:not(:disabled):active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button:disabled,
.search-button:disabled,
.button-detail:disabled {
  background-color: rgba(229, 229, 229, 1);
}

.button-detail {
  width: 140px;
  min-height: 20px;
  padding: 8px 26px 8px 26px;
}

.subscribe-button,
.apply,
.button-result {
  background-color: rgb(130, 179, 211);
}

.subscribe-button:not(:disabled):hover,
.subscribe-button:not(:disabled):focus,
.apply:not(:disabled):hover,
.apply:not(:disabled):focus,
.button-result:not(:disabled):hover,
.button-result:not(:disabled):focus {
  background-color: rgba(104, 162, 202, 1);
}

.subscribe-button:not(:disabled):active,
.apply:not(:disabled):active,
.button-result:not(:disabled):active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled,
.apply:disabled,
.button-result:disabled {
  background-color: rgba(229, 229, 229, 1);
}

.navigation-button {
  width: 160px;
  min-height: 36px;
  margin-left: 20px;
}

.search-button {
  display: block;
  text-align: center;
  width: 376px;
  min-height: 36px;
  padding: 8px 0;
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
  width: 232px;
  min-height: 52px;
  padding: 0;
}

.apply,
.reset {
  width: 191px;
  min-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
}

.reset {
  background-color: transparent;
}

.reset:not(:disabled):hover {
  opacity: 60%;
}

.reset:not(:disabled):focus-visible {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.reset:not(:disabled):active {
  opacity: 30%;
}

.reset:disabled {
  opacity: 10%;
}

.button-result {
  width: 140px;
  min-height: 36px;
}

.result-active {
  background-color: rgb(125, 181, 79);
}

.result-active:not(:disabled):hover,
.result-active:not(:disabled):focus {
  background-color: rgba(108, 158, 66, 1);
}

.result-active:not(:disabled):active {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 0.3);
}

.result-active:disabled {
  background-color: rgba(229, 229, 229, 1);
}

/* кнопки */

.main-container {
  flex-grow: 1;
}


.hero {
  background-color: rgb(4, 0, 86);
  background-image:
    url("../images/index/vector-hero.svg"),
    url("../images/index/hero.jpg");
  background-size: 100% auto;
  background-repeat:
    no-repeat,
    no-repeat;
  background-position: bottom;
  width: 1200px;
  min-height: 485px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.welcome-box {
  width: 458px;
  min-height: 352px;
  margin-top: 51px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.advantage-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 261px;
  text-align: center;
  margin-bottom: 21px;
}

.advantage-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 246px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

.advantage-desc .title {
  margin: 0 0 20px 0;
  text-align: center;
}

.title {
  margin: 0 0 25px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.title-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: rgb(51, 51, 51);
}

.advantage-text {
  margin: 0;
}

.advantage-text:not(.city p, .bridge p) {
  color: rgb(51, 51, 51);
}

.advantage-item {
  display: flex;
  background-color: rgba(131, 179, 211, 0.122);
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.box {
  background-color: rgba(131, 179, 211, 0.2);
}

.eat {
  background-color: rgb(255, 255, 255);
}

.advantage-image {
  background-color: rgb(130, 179, 211);
  width: 1200px;
  min-height: 385px;
}

.advantage-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 260px;
  min-height: 160px;
}

.advantage-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 230px;
  min-height: 181px;
}

.advantage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box;
}

.advantage-image-city {
  display: flex;
  text-align: center;
}

.advantage-image-bridge {
  display: flex;
  text-align: center;
}

.city,
.bridge {
  color: rgb(255, 255, 255);
}

.line,
.first-line,
.last-line {
  margin: 0;
}

.advantage-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;

}

.holder .advantage-subtitle {
  margin: 30px 0;
}



.first-line::after,
.last-line::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.302);
  margin: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.line::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.302);
  margin: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}



.holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;

}

.souvenirs {
  margin: auto;
  width: 230px;
  min-height: 223px;
  background-image: url("../images/index/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.food {
  margin: auto;
  width: 230px;
  min-height: 223px;
  background-image: url("../images/index/food.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;

}

.housing {
  margin: auto;
  width: 230px;
  min-height: 223px;
  background-image: url("../images/index/housing.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  max-width: 100%;
  min-height: 306px;
  padding: 50px 304px;
}

.search-title,
.subscribe-title {
  margin-top: 46px;
  margin-bottom: 20px;
}

.search-text,
.subscribe-text {
  margin-bottom: 54px;
}

.subscribe {
  text-align: center;
  padding: 50px;
  max-width: 100%;
  min-height: 315px;
  background-image: url("../images/index/subscribe.jpg");
  background-repeat: no-repeat;
  background-color: rgb(4, 0, 86);
}

.subscribe,
.subscribe p {
  color: rgb(255, 255, 255);
}

.subscribe-form {
  display: flex;
  min-height: 52px;
  justify-content: center;

}

.subscribe-catalog {
  background-image: none;
  background-color: inherit;
}

.subscribe-catalog .subscribe-title {
  color: rgb(0, 0, 0);
}

.subscribe-catalog .subscribe-text {
  color: rgb(51, 51, 51);
}

.form-mail {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border: 0;
  border-radius: 4px 0 0 4px;
  width: 452px;
  min-height: 52px;
  padding: 0;
  padding-left: 20px;
  background-color: rgb(242, 242, 242);
  box-sizing: border-box;
}

.form-mail:hover {
  background-color: rgba(230, 230, 230, 1);
}

.form-mail:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  outline-offset: -3px;
  background-color: rgba(230, 230, 230, 1);
}

.catalog-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.catalog-filter {
  background-image: url("../images/catalog/filter.jpg");
  background-color: rgb(75, 69, 73);
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  max-width: 100%;
  min-height: 307px;
  padding: 70px;
  padding-top: 35px;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  width: 114px;
  min-height: 21px;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.index::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 24px;
  width: 8px;
  height: 10px;
  display: inline-block;
  background-image: url("../images/catalog/breadcrumbs.svg");
  background-repeat: no-repeat;
  pointer-events: none;
}

.breadcrumbs li:not(:first-child):not(:last-child)::after {
  content: "";
  position: absolute;
  top: 6px;
  left: calc(100% + 10px);
  width: 8px;
  height: 10px;
  display: inline-block;
  background-image: url("../images/catalog/breadcrumbs.svg");
  background-repeat: no-repeat;
  pointer-events: none;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 28px;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  min-height: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.catalog-filter-form {
  display: flex;
  min-height: 157px;
}

.catalog-filter-group {
  width: 150px;
  min-height: 157px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin: 0;
  gap: 16px;
}

.comfort,
.houseroom,
.value {
  border: none;
  padding: 0;
  margin: 0;
}

.comfort {
  margin-right: 70px;
}

.houseroom {
  margin-right: 141px;
}

.value {
  width: 288px;
  min-height: 160px;
  padding: 0;
  margin-right: 70px;
}

.range {
  display: flex;
  margin-bottom: 44px;
}

/* стилизация чекбоксов и радио кнопок */

/* скрыть инпут по умолчанию */
.custom-checkbox > input,
.custom-radio > input {
  position: absolute;
  z-index: -10;
  opacity: 0;
  margin: 0;
}

.control > span {
  display: flex;
  align-items: center;
}

/* создание псевдоэлемента before*/
.custom-checkbox > span::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.custom-radio > span::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

/* стили для инпута, находящегося в фокусе */
.custom-checkbox > input:focus + span::before,
.custom-radio > input:focus + span::before {
  outline: 3px solid rgb(131, 179, 211);
}

/* стили для инпута, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {

  background-color: rgb(255, 255, 255);
  background-image: url("../images/catalog/checkbox.svg");
}

.custom-radio > input:checked + span::before {
  background-color: rgb(255, 255, 255);
  background-image: url("../images/catalog/radio.svg");
}

/* стили для инпута, при наведении */
.custom-checkbox > input:hover + span::before,
.custom-checkbox > span:hover,
.custom-radio > input:hover + span::before,
.custom-radio > span:hover {
  opacity: 60%;
}

/* стили при нажатии на чекбокс */
.custom-checkbox > input:active + span::before,
.custom-checkbox > span:active,
.custom-radio > input:hover + span::before,
.custom-radio > span:hover {
  opacity: 30%;
}

/* стилизация чекбоксов завершена */


.value-range {
  font-family: "PT Sans", sans-serif;
  width: 143px;
  min-height: 48px;
  border: 0;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

.value-range::placeholder {
  color: rgb(0, 0, 0);
}

.value-range:hover {
  background-color: rgba(230, 230, 230, 1);
}

.value-range:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  background-color: rgba(230, 230, 230, 1);
}

.value-min {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
  background-color: rgba(242, 242, 242, 1);
}

.value-max {
  border-radius: 0 4px 4px 0;
  background-color: rgba(242, 242, 242, 1);
}

/*скрытие стрелочек*/
.value-min::-webkit-inner-spin-button,
.value-max::-webkit-inner-spin-button,
.value-min::-webkit-outer-spin-button,
.value-max::-webkit-outer-spin-button {
  appearance: none;
}

/*скрытие стрелочек для firefox*/
.value-min[type="number"],
.value-max[type="number"] {
  appearance: textfield;
}

.min,
.max {
  display: block;
  position: relative;
}

.min span,
.max span {
  position: absolute;
  color: rgb(0, 0, 0);
  right: 20px;
  top: 13px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  opacity: 30%;
}

/* range */
.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.30);
}

.range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: rgb(255, 255, 255);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}


.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  gap: 32px;
  min-height: 104px;
}

.catalog-products {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
}

.effect-box {
  display: flex;
  align-items: center;
  width: 1060px;
  min-height: 49px;
}

.effect {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.select-control {
  padding: 10px 19px;
  width: 292px;
  min-height: 49px;
  margin-right: 70px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  box-sizing: border-box;
  appearance: none;
  background-image: url("../images/catalog/select.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 18px);
}

.select-control:not(:disabled):hover {
  border: 2px solid rgb(104, 162, 202);
}

.select-control:disabled {
  border: 2px solid rgb(0, 0, 0);
  opacity: 30%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.form-item {
  margin-right: 8px;
  width: 48px;
  min-height: 48px;
}

.form-item:last-child {
  margin: 0;
}

.option {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border-width: 2px;
  border-color: rgb(229, 229, 229);
  border-style: solid;
  background-color: rgb(255, 255, 255);
}

.option:hover {
  border-color: rgba(0, 0, 0, 1);
}

.option:focus {
  border-color: rgba(104, 162, 202, 1);
}

.option:active {
  border-color: rgba(0, 0, 0, 1);
}

.option-active {
  border-color: rgb(0, 0, 0);
}

.tile {
  background-image: url("../images/catalog/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.big-list {
  background-image: url("../images/catalog/big_list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.small-list {
  background-image: url("../images/catalog/small_list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.result {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(230, 230, 230);
  box-sizing: border-box;
}

.result-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
}

.result-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px minmax(28px, auto) minmax(21px, auto) minmax(36px, auto) 37px;
  grid-auto-flow: row;
  width: 340px;
  min-height: 438px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  row-gap: 16px;
  column-gap: 20px;
  justify-content: center;
  padding: 19px;
  box-sizing: border-box;
  align-items:start;
}

.result-image {
  object-fit: contain;
  grid-column: span 2;
}

.result-item h3 {
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  width: 248px;
  min-height: 28px;
  grid-column: span 2;
  margin: 0;
}

.result-type,
.price {
  margin: 0;
}

.price {
  text-align: end;
}

.stars {
  width: 140px;
  min-height: 37px;
  background-repeat: no-repeat;
  background-position: center;
}

.stars-4 {
  background-image:
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg");
  background-position:
    left,
    24px,
    48px,
    72px;
}

.stars-3 {
  background-image:
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg");
  background-position:
    left,
    24px,
    48px;
}

.stars-2 {
  background-image:
    url("../images/catalog/star.svg"),
    url("../images/catalog/star.svg");
  background-position:
    left,
    24px;
}

.rating {
  width: 140px;
  min-height: 28px;
  background-color: rgb(242, 242, 242);
  border-radius: 4px;
  text-align: center;
  padding-top: 9px;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.pagination {
  display: flex;
  margin: 0;
}

.pagination-item {
  display: block;
  min-width: 60px;
  margin-right: 8px;
}

.pagination-link,
.pagination-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  background-color: rgb(130, 179, 211);
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 5px;
  box-sizing: border-box;
}

.pagination-link:not(.pagination-active):hover,
.pagination-link:not(.pagination-active):focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 1px solid rgba(130, 179, 211, 1)
}

.pagination-link:not(.pagination-active):active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(130, 179, 211);
}

.pagination-item:last-child {
  margin: 0;
}

.pagination-active {
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
}

.pagination-box {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(0, 0, 0);
  background-color: inherit;
}


.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
}

.social {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 142px;
  min-height: 40px;

}

.tel {
  display: flex;
  font-size: 40px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 720px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
}

.tel:hover,
.tel:focus {
  color: rgba(117, 97, 87, 1);
}

.tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-htmlacademy {
  display: flex;
  min-height: 33px;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.logo-htmlacademy:hover,
.logo-htmlacademy:focus {
  color: rgba(117, 97, 87, 1);
}

.logo-htmlacademy:active {
  color: rgba(117, 97, 87, 0.3);
}

.vk {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  min-height: 40px;
  text-decoration: none;
  color: rgb(131, 179, 211);
}

.vk:hover,
.vk:focus {
  color: rgba(104, 162, 202, 1);
}

.vk:active {
  color: rgba(104, 162, 202, 0.3);
}

.telegram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  min-height: 40px;
  text-decoration: none;
  color: rgb(131, 179, 211);
}

.telegram:hover,
.telegram:focus {
  color: rgba(104, 162, 202, 1);
}

.telegram:active {
  color: rgba(104, 162, 202, 0.3);
}

.youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  min-height: 40px;
  text-decoration: none;
  color: rgb(131, 179, 211);
}

.youtube:hover,
.youtube:focus {
  color: rgba(104, 162, 202, 1);
}

.youtube:active {
  color: rgba(104, 162, 202, 0.3);
}

/* модальное окно */

.modal-container {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 10;
}

.modal {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  margin: auto;
  padding: 64px 70px;
  width: 717px;
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 64px;
  right: 52px;
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: rgba(230, 230, 230, 1);
}

.modal-close-button:active svg {
  opacity: 30%;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(0, 0, 0);
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.tooltip {
  position: absolute;
  margin-left: 10px;
}

.tooltip-toggle {
  border: none;
  border-radius: 50%;
  background-color: rgba(131, 179, 211, 1);
  padding: 0;
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
}

.tooltip-icon {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.tooltip-text {
  background-color: rgba(51, 51, 51, 1);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  min-height: 143px;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: rgba(51, 51, 51, 1);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: flex;
  align-items: center;
}

.search-form .field-group {
  margin: 0;
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.arrival-grid {
  min-height: 73px;
  display: grid;
  grid-template-columns: 137px 440px;
  align-items: center;
  align-content: start;
  row-gap: 4px;
  margin-bottom: 23px;
}

.departure-grid {
  min-height: 73px;
  display: grid;
  grid-template-columns: 137px 440px;
  align-items: center;
  align-content: start;
  row-gap: 4px;
  margin-bottom: 23px;
}

.adults-grid {
  display: grid;
  grid-template-columns: 97px 150px;
  align-items: center;
}

.children-grid {
  display: grid;
  grid-template-columns: 102px 140px;
  align-items: center;
}


.arrival-form {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(0, 0, 0);
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px);
}

.departure-form {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(0, 0, 0);
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px);
}

.arrival-form::placeholder,
.departure-form::placeholder {
  color: black;
  opacity: 60%;
}

.date-error {
  grid-column: 2;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  top: calc(100% + 16px);
  left: 157px;
  color: rgba(255, 87, 87, 1);
  width: 400px;
  padding: 0 20px;
}

.notice {
  grid-column: 2;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  top: calc(100% + 16px);
  left: 157px;
  color: rgba(51, 51, 51, 1);
  width: 400px;
  padding: 0 20px;
}

.arrival-form,
.departure-form {
  width: 440px;
  height: 48px;
  box-sizing: border-box;
  justify-self: end;
}

.children-form {
  width: 110px;
  height: 48px;
  box-sizing: border-box;
}

.adults-form {
  width: 110px;
  height: 48px;
  box-sizing: border-box;
}

.adults-form::-webkit-inner-spin-button,
.children-form::-webkit-inner-spin-button,
.adults-form::-webkit-outer-spin-button,
.children-form::-webkit-outer-spin-button {
  appearance: none;
}

.adults-form,
.children-form {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.search-button-modal {
  grid-column: span 4;
  width: 100%;
  height: 60px;
  background-color: rgba(131, 179, 211, 1);
  border: none;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-top: 48px;
}

.search-button-modal:hover,
.search-button-modal:focus {
  background-color: rgba(104, 162, 202, 1);
}

.search-button-modal:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(104, 162, 202, 1);
}

.modal-form {
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 4px;
}

.arrival-form:hover,
.arrival-form:focus,
.departure-form:hover,
.departure-form:focus {
  background-color: rgba(230, 230, 230, 1);
}


.spin {
  position: relative;
  width: 110px;
  margin: 0;
}

.child-spin,
.adult-spin {
  justify-self: end;
}

.minus,
.plus {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 20px;
  height: 20px;
  color: rgba(117, 97, 87, 0.3);
  border: none;
  padding: 0;
}

.minus:hover,
.plus:hover {
  color: rgba(0, 0, 0, 1);
}

.minus:focus,
.plus:focus {
  outline: 3px solid rgba(130, 179, 211, 1);
  border-radius: 4px;
  color: rgba(0, 0, 0, 1);
}

.minus:active,
.plus:active {
  opacity: 30%;
}

.minus {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.plus {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-container-close {
  display: none;
}
